<!DOCTYPE HTML>
<html>
  <head>
    <title>rc</title>
   <link href = "{{STATIC_URL} }css/bootstrap.css "rel = "stylesheet" tipe="text/css"   >
  </head>
 
 <body>
   <div class="container">
      <div class="well">

        <h3>
            <div class= "alert alert-danger" >
            <p class="alert-link">polls question</p>
            </div>
            </h3>
            {%block contenido%}

            {%endblock%}
           
         </div>
     </div>
   <scrip type = "text/javaScript" src = "{{STATIC_UR}}js/bootstrap.js"></script>


  </body>
</html>
